# Python things
*.py[co]
*.egg*

# Vendor
/webapp/vendor

# Node things
node_modules

# SQLite3 things
*.db

# Logs
*.log

# OSX Things
.DS_Store
._*

# SASS things
.sass-cache/

# Django things
emission_events/media/
emission_events/assets/

# PostgreSQL things
*.dump
