@import 'bourbon/dist/bourbon';
@import 'neat/app/assets/stylesheets/neat';

@import 'newsapps-styles/base/normalize';
@import 'newsapps-styles/base/typography';
@import 'newsapps-styles/base/scaffold';
@import 'newsapps-styles/helpers/variables';

@import 'newsapps-styles/helpers/colors';
@import 'newsapps-styles/helpers/placeholders';
@import 'newsapps-styles/helpers/functions';
@import 'newsapps-styles/helpers/mixins';
@import 'newsapps-styles/theme/base-theme';
@import 'newsapps-styles/layout/headers/masthead/masthead';
@import 'newsapps-styles/layout/headers/banner/banner';
@import 'newsapps-styles/layout/headers/banner/nav-bar';
@import 'newsapps-styles/layout/footers/basic';
@import 'newsapps-styles/layout/footers/newsapps';
@import 'newsapps-styles/layout/components/social-media/share-buttons';
@import 'newsapps-styles/layout/components/social-media/sharelines';
@import 'newsapps-styles/layout/components/about';
@import 'newsapps-styles/layout/components/tables';
@import 'newsapps-styles/theme/prose';

body {
  color: #000;
  font-size: 1em;
}
